.header-img {
    width: 100%;
    height: 80px;
    background-image: url("../../../asset/images/Header.png");
    background-size: cover;
  }
  .payslip-print {
    position: relative;
  }
  .footer-payslip {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(
      to right,
      rgba(247, 108, 36, 1),
      rgba(72, 3, 75, 1)
    );
  }
  .footer-text-part-payslip{
    width: 800px;
    margin: auto;
  }
  